<div class="container" >
	<div class="row">
		<h2>Opportunities By Team</h2>
		<button ng-click="refresh()" class="btn btn-success btn-sm">Refresh</button> <small ng-show="lastRefreshed"class="pull-right">Last Refreshed: <i class="glyphicon glyphicon-calendar"></i><span style="color:green;">{{lastRefreshed}}</span></small>
	</div>
	<div class="row">
		<div style="margin-top:15px;"></div>
		<div class="col-md-12">	
		<center ng-hide="dataLoaded"><i class="fa fa-spinner fa-5x fa-spin"></i></center>
		<table ng-show="dataLoaded" ng-table="tableParamsMain" class="table table-striped table-hover">
			<tr ng-repeat="team in $data">
					<td data-title="'Team'" sortable="'name'">
							<i class="glyphicon glyphicon-flag"> {{team.name}}</i>
					</td>
						<td data-title="'Won'" sortable="'valueWonCount'">
						{{team.valueWonCount}}
					</td>
					<td data-title="'Value Open'" sortable="'valueOpen'">
							{{team.valueOpen | currency}}
					</td>
						<td data-title="'Value Won'" sortable="'valueWon'">
							{{team.valueWon | currency}}
					</td>
						<td data-title="'Gross Margin'" sortable="'grossMargin'">
							{{team.grossMargin | currency}}
						</td>
						<td data-title="'Profit Per Day'" sortable="'profitPerDay'">
								{{team.profitPerDay | currency}}
						</td>
			</tr>
		</table>
	
		</div>
			
	</div>

	<div class="footer">
		© Rustco
	</div>
</div>

